
/* * * * * * */
/* Constants */
/* * * * * * */
:root {
    --blue:#14406c;
    --dark-blue:#0a1727;
    --colorClaro: #0000fb;
    --dark-cream:#e2cd66;
    --light-cream:#edd9b7;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --thumb: #edf2f4;
    --gradiente:linear-gradient(  to right, var(--dark-blue), var(--colorClaro));
  
    /* * *  */
    /* SIZE */
    /* * *  */  
    --navegation-height:50px;
    --settings-width:400px;
  
    /*******************/
    /*** Font sizes ***/
    /*****************/
    /* Title font size */
    --min-title-size:36px;
    --max-title-size:62px;
    --min-paragraph-size: 17px;
    --max-paragraph-size: 37px;
}
  
/* * * * * */
/* General */
/* * * * * */
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    text-align: center;
}
  
.flex-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

a{
    text-decoration:none;
}
  
/* * * * * */
/* HEADER  */
/* * * * * */
.header-container{
    background-color: var(--dark-blue);
    height: var(--navegation-height);
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.logo-img{
    height: 25px;
    padding: 12.5px;
    width: auto;
}
  
.menu-container{
    background: linear-gradient(180deg, var(--dark-blue), var(--blue));
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    left: -300vw;
    padding-top: 10px;
    position: fixed;
    top: 50px;
    transition-duration: 0.35s;
    width: 100%;
    z-index: 3;
}
  
.menu-link{
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    height: fit-content;
    letter-spacing: 3px;
    padding: 10px 20px;
}
  
.menu-selection{
    text-decoration: underline;
    text-decoration-color: var(--dark-cream);
    text-decoration-thickness: 3px;
}
  
.menu-burger-button{
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    width: 50px;
}
  
.menu-settings-button{
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 50px;
    border: none;
    bottom: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    right:10px;
    transition-duration: 0.35s;
    width: 50px;
    z-index: 2;
}

.show-menu{
    left: 0px;
  }  

/********************/
/* Responsive text */
/******************/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */

.fluid-font-title{
    font-size: var(--min-title-size)
}
  
.fluid-font-btn{
    font-size: var(--min-paragraph-size);
}
  
.fluid-font-paragraph{
    font-size: var(--min-paragraph-size);
    text-align: justify;
    padding: 1% 6%;
}

/* * * * * * * */
/* TOP SECTION */
/* * * * * * * */
.hero {
    background: url(../img/CSSbackground.png);
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .fluid-font-paragraph{
    color: white;
}

.hero img{
    margin-top: 2%;
    aspect-ratio: 16/3;
    width: 26%;
    /*height: 7%;*/
}

.hero-button {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    margin-top: 48px;
    background-color: var(--blue);
    color: #ffffff;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}

.scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    background: var(--blue);
    cursor: pointer;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    border: solid transparent 2px;
}
  
.scroll-top p{
    margin: 0;
    font-size: 18px;
}
  
.scroll-top i{
    font-size: 30px;
    margin-bottom: 5px;
}

.content{
    margin: 0 8%;
}

/* * * * *  */
/* CAROUSEL */
/* * * * *  */
.utility-container {
    position: relative;
    max-width: 130rem;
    margin: 0 auto; }
  
.carousel-container {
    margin: auto;
    max-width: 126rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  
.carousel-1-item {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0%;
    transition: all 0.4s;
}

.carousel-2-item {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0%;
    transition: all 0.4s;
}
  
.carousel-view-1 {
    width: 86%;
    height: 23rem;
    overflow: hidden;
    position: relative; 
}

.carousel-view-2 {
    width: 86%;
    height: 33rem;
    overflow: hidden;
    position: relative; 
}
  
.btn-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--blue);
    font-size: 8vh;
    width: 3%;
    height: 4vh;
    border-radius: 100px; 
  }
.btn-carousel:hover {
    cursor: pointer; 
}
.btn-carousel--left {
    top: 50%;
    left: 3.6%;
}
.btn-carousel--right {
    top: 50%;
    right: 3.6%;
}

/* * * * */
/* Cards */
/* * * * */
.card-container {
    height: fit-content;
    display: flex;
    flex-direction: column; 
    padding: 36px;
    padding-top: 0;
}
  
.card-img{
    object-fit: cover;
    width: 100%;
    margin: 7% 0;
}
  
.card {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-radius: 12px;
    color: var(--dark-blue);
    transition: all 0.3s;
}
  
.card .card-title {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}

.card .fluid-font-paragraph{
    font-size: 2vh;
    line-height: 150%;
}

/* * * * * * * * */
/* BLOG ARTICLES */
/* * * * * * * * */
.row, .row-inverted {
    display: flex;
    flex-direction: row;
    height: 46vh;
    width: 88%;
    margin: 0 6%;
}
  
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    text-align: justify;
}

.col .fluid-font-paragraph{
    padding: 1% 0;
}

.col h3{
    color: var(--blue);
}

.img-col {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content:left;
}

.img-col img{
    margin: 0 6%;
    width: 88%;
}

.highlighted {
    background: var(--blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.tag-up {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 0.63s;
}

.tag-right {
    opacity: 0;
    transform: translate(-5vw, 0);
    transition: all 0.63s;
}

.tag-left {
    opacity: 0;
    transform: translate(5vw, 0);
    transition: all 0.63s;
}
  
.visible {
    opacity: 1;
    transform: translate(0, 0);
}
/*************/
/***FOOTER***/
/***********/
.footer-container{
    background-color: var(--dark-blue);
    height: fit-content;
    padding: 5px 0;
}
  
.footer-container p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
  
.social-media{
    background-color: var(--light-cream);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    width: 30px;
}

/* Screen with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {
    .fluid-font-title{
      font-size: calc(var(--min-title-size) + 20 * ((100vw - 320px) / 1600)) ;
    }
  
    .fluid-font-paragraph{
      font-size: calc(var(--min-paragraph-size) + 2 * ((100vw - 320px) / 1600)) ;
    }
  
    .fluid-font-btn{
      font-size: calc(var(--min-paragraph-size) * ((100vw - 320px) / 1600)) ;
    }
  }
  
  
  /* Scren with a width equal or bigger than 1920px  */
  @media screen and (min-width: 1920px) {
    .fluid-font-title{
      font-size: var(--max-title-size);
    }
  
    .fluid-font-paragraph{
      font-size: var(--max-title-paragraph);
    }
  
    .fluid-font-btn{
      font-size: calc(var(--min-paragraph-size)  * ((100vw - 320px) / 1600)) ;
    }
  }
  
  /**********************/
  /* Responsive design */
  /********************/
  
  /**********************/
  /* Mobile (landscape)*/
  /********************/
  
  /*** Only works for mobiles in landscape with resulution of height : 412 px with width: > 412 px ***/
  
  @media (max-height:412px) and (orientation:landscape){  

    .col, .img-col {
      width: 100%;
      height: 60vh;
    }
  
    .carousel{
      width:90%;
      height: 15%;
    }
  
    .carousel-view {
      height: 20rem;
    }
  
    .btn-carousel {
      font-size: 10vh;
    }
  
    .card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .card-img{
      object-fit: cover;
      width: 71%;
      margin-top: 0;
      border-radius: 50%;
    }
  }
  
  /******************/
  /* DESKTOP STYLE */
  /****************/
  
  /***********************************/
  /* Desktop and tablet (landscape) */
  /*********************************/
  
  /*********************/
  /* Only break point */
  /*******************/
  /* 
   --------------------------  Explication -> ipad resolution is 768 x 1024px in vertical postion
   |                        |                 is considered as a smartphone, but in 1024 x 768px 
   |                        |                 is considered as a computer, this break point consider
   |     916 x 412 px       |                 that only exist two design mobile or desktop,the bigger
   |                        |                 resolution in phone founded was 411 x 812px, so we take
   |                        |                 the limit values of resolution as following: width:768+1px
   --------------------------                 and height:411+1px up this are computer down this are a phone
  */
  
  @media (min-height:412px) and (min-width: 916px) {
    /*************/
    /***HEADER***/
    /***********/
  
    .menu-burger-button{
        display: none;
    }
  
    .menu-container{
      align-items: center;
      background: transparent;
      flex-direction: row;
      height: 50px;
      justify-content: center;
      padding-top: 0;
      position: static;
      width: fit-content;
    }
  
    .menu-settings-button{
      display: none;
    }
  }
  
  @media  (max-width: 900px) {
    .row {
      flex-direction: column;
      height: fit-content;
    }
  
    .row-inverted{
      flex-direction: column-reverse;
      height: fit-content;
    }
  
    .col, .img-col{
      width: 100%;
    }

    .btn-carousel--left, .btn-carousel--right{
        top: 27%;
        font-size: 5vh;
    }

    .carousel-view-2{
        height: 35rem;
    }

    .card .fluid-font-paragraph{
        font-size: 1.9vh;
    }
  }
  
  @media (min-width: 320px) and (max-width:519px){
    .hero{
        height: 71vh;
    }
    .hero img{
        width: 80%;
    }

    .hero-button {
        margin: 0 14%;
    }
  
    .carousel-view-1, .carousel-view-2{
        width: 100%;
    }

    .card-container{
        padding: 0;
    }

    .card-img{
        margin: 3% 0;
    }

    .btn-carousel--left, .btn-carousel--right{
        top: 35%;
    }

    .card-title{
        margin: 7px 7%;
    }

    .row, .row-inverted{
        margin: 0;
        width: 100vw;
        padding-bottom: 21px;
        display: flex;
    }

    .row{
        flex-direction: column;
    }

    .row-inverted{
        flex-direction: column-reverse;
    }

    .img-col img{
        margin: 0;
        width: 100vw;
    }
  
    .col {
      width: 88%;
      margin: 0 6%;
    }
  
    .carousel-view-2 {
      height: 33rem;
    }
  }