/* * * * * * */
/* Constants */
/* * * * * * */
:root {
    --blue:#14406c;
    --dark-blue:#0a1727;
    --colorClaro: #0000fb;
    --dark-cream:#e2cd66;
    --light-cream:#edd9b7;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --thumb: #edf2f4;
    --gradiente:linear-gradient(  to right, var(--dark-blue), var(--colorClaro));
  
    /* * *  */
    /* SIZE */
    /* * *  */  
    --navegation-height:50px;
    --settings-width:400px;
  
    /*******************/
    /*** Font sizes ***/
    /*****************/
    /* Title font size */
    --min-title-size:36px;
    --max-title-size:62px;
    --min-paragraph-size: 17px;
    --max-paragraph-size: 37px;
}
  
/* * * * * */
/* General */
/* * * * * */
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    text-align: center;
}
  
.flex-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

a{
    text-decoration:none;
}
  
/* * * * * */
/* HEADER  */
/* * * * * */
.header-container{
    background-color: var(--dark-blue);
    height: var(--navegation-height);
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
  
.logo-img{
    height: 25px;
    padding: 12.5px;
    width: auto;
}
  
.menu-container{
    background: linear-gradient(180deg, var(--dark-blue), var(--blue));
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    left: -300vw;
    padding-top: 10px;
    position: fixed;
    top: 50px;
    transition-duration: 0.35s;
    width: 100%;
    z-index: 3;
}
  
.menu-link{
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    height: fit-content;
    letter-spacing: 3px;
    padding: 10px 20px;
}
  
.menu-selection{
    text-decoration: underline;
    text-decoration-color: var(--dark-cream);
    text-decoration-thickness: 3px;
}
  
.menu-burger-button{
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    width: 50px;
}
  
.menu-settings-button{
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 50px;
    border: none;
    bottom: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    right:10px;
    transition-duration: 0.35s;
    width: 50px;
    z-index: 2;
}

/********************/
/* Responsive text */
/******************/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */

.fluid-font-title{
    font-size: var(--min-title-size)
}
  
.fluid-font-btn{
    font-size: var(--min-paragraph-size);
}
  
.fluid-font-paragraph{
    font-size: var(--min-paragraph-size);
    text-align: justify;
    padding: 1% 6%;
}

/* * * * * * * */
/* TOP SECTION */
/* * * * * * * */
.hero {
    background: url(../img/CSSbackground.png);
    background-size: cover;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .fluid-font-paragraph{
    color: white;
}

.hero img{
    margin-top: 2%;
    aspect-ratio: 16/3;
    width: 26%;
    /*height: 7%;*/
}

.hero-button {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    margin-top: 48px;
    background-color: var(--blue);
    color: #ffffff;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
}

.scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    background: var(--blue);
    cursor: pointer;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    border: solid transparent 2px;
}
  
.scroll-top p{
    margin: 0;
    font-size: 18px;
}
  
.scroll-top i{
    font-size: 30px;
    margin-bottom: 5px;
}

.content{
    margin: 0 8%;
}

/* * * * *  */
/* Carousel */
/* * * * *  */
.utility-container {
    position: relative;
    max-width: 130rem;
    margin: 0 auto; }
  
.carousel-container {
    margin: auto;
    max-width: 126rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  
.carousel-item {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0%;
    transition: all 0.4s;
}
  
.carousel-view {
    width: 90%;
    height: 24rem;
    overflow: hidden;
    position: relative; }
  
.btn-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--blue);
    font-size: 8vh;
    width: 3%;
    height: 4vh;
    border-radius: 100px; 
  }
.btn-carousel:hover {
    cursor: pointer; 
}
.btn-carousel--left {
    top: 50%;
    left: 2.6%;
}
.btn-carousel--right {
    top: 50%;
    right: 2.6%;
}

/* * * * */
/* Cards */
/* * * * */
.card-container {
    height: fit-content;
    display: flex;
    flex-direction: column; 
    padding: 36px;
    padding-top: 0;
}
  
.card-img{
    object-fit: cover;
    width: 100%;
    margin: 7% 0;
}
  
.card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 12px;
    color: var(--dark-blue);
    transition: all 0.3s;
}
  
.card .card-title {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}
  
.card .card-content {
    margin: 20px auto;
    max-width: 85%;
}
  
.card ul{
    padding: 0;
}
  
.card li{
    display: inline;
    margin: 0 10px;
    font-size: 20px;
}
  
.card:hover .card-link {
    background: var(--blue);
}

/* * * * * * * * */
/* BLOG ARTICLES */
/* * * * * * * * */
.row, .row-inverted {
    display: flex;
    flex-direction: row;
    height: 46vh;
    width: 100%;
}
  
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: justify;
}

.col h3{
    
}

.img-col {
    height: 100%;
    width: 50%;
    padding: 0;
}

.highlighted {
    background: var(--blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.tag-up {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 0.63s;
}

.tag-right {
    opacity: 0;
    transform: translate(-10vw, 0);
    transition: all 0.63s;
}

.tag-left {
    opacity: 0;
    transform: translate(-10vw, 0);
    transition: all 0.63s;
}
  
.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.projects-section h1{
    margin-top: 50px;
}

.projects{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    overflow: hidden;
    overflow-y: hidden;
    margin-left: 80px; 
    margin-right: 80px;
    margin-bottom: 90px;
}

.widget{
    height: 326px;
    margin-top: 8px;
    position: relative;
    transition: transform 0.3s;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/placeholder.png);
    background-size: cover;
}

.widget:hover{
    transform: scale(1.2);
}

.widget h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */
    text-align: center;
    color: #FFFFFF;
    margin-left: 24px;
    margin-right: 24px;
}

/*************/
/***FOOTER***/
/***********/
.footer-container{
    background-color: var(--dark-blue);
    height: fit-content;
    padding: 5px 0;
}
  
.footer-container p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
  
.social-media{
    background-color: var(--light-cream);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    width: 30px;
}
@media (min-height:412px) and (min-width: 916px) {
    /*************/
    /***HEADER***/
    /***********/
  
    .menu-burger-button{
        display: none;
    }
  
    .menu-container{
      align-items: center;
      background: transparent;
      flex-direction: row;
      height: 50px;
      justify-content: center;
      padding-top: 0;
      position: static;
      width: fit-content;
    }
  
    .menu-settings-button{
      display: none;
    }
}

/* RESPONSIVENESS*/
@media screen and (max-width: 991px) {
    .fixed-navbar{
        display: flex;
        background-color: #5757ce;
    }

    #css-logo{
        margin-left: 5%
    }

    .nav-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 85%;
        top: 14px;
        z-index: 2;
        padding: 8px 8px 16px 8px;
        border-radius: 18%;
    }

    .nav-btn span {
        background: #eee;
        display: block;
        height: 3px;
        margin: 4px 0;
        transition: all 0.3s ease-in-out;
        width: 29px;
    }

    .nav-btn span:nth-child(1) {
      transform: translateY(-6px);
    }

    .nav-btn span:nth-child(3) {
        transform: translateY(6px);
    }

    #nav-check:checked ~ .nav-btn{
        background-color: #5757ce;
    }

    #nav-check:checked ~ .menu-items {
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
        background: radial-gradient(at top left, #5757ce 70%, #757adc,#858be2, #959ce8 );
        /*background: linear-gradient(to top, #959ce8, #5757ce);*/
        z-index: 1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        height:min-content;
    }

    #nav-check:not(:checked) ~ .menu-items {
        display: none;
    }

    #first-link-nav{
        margin-left: 0;
        padding-top: 56px;
    }

    .menu-items li {
      display: block;
      top: 24px;
      text-align: left;
      margin-left: 24px;
      padding: 8px 0;
    }

    .top-image h1{
        position: absolute;
        top: 119px;
        left: 30px;
        width: 65%;
        z-index: 1;
        font-size: 44px;
        font-weight: 900;
        line-height: 100%;
        color: #444;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .top-image p{
        text-align: left;
        left: 50px;
        width: 85%;
    }

    .fennex-banner{
        display: flex;
        flex-direction: column;
        margin-top: -4px;
        padding-bottom: 24px;
        align-items: center;
    }

    .fennex-banner img{
        height: 420px
    }


    .fennex-banner h2{
        line-height: 125%;
    }

    .fennex-banner button{
        margin: 0 0 5% 5%;
        transform: scale(0.8);
    }

    .right-div{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .left-div{
        display: flex;
        flex-direction: column;
    }

    .tutorials h1{
        margin-left: 0;
        text-align: center;
    }

    .tutorials p{
        text-align: center;
    }

    .projects{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .widget{
        height: 160px;
        margin-top: 8px;
        position: relative;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/placeholder.png);
        background-size: cover;
    }

    .footer-row div{
        margin: 8px;
    }

    .social{
        align-content: left;
        margin-left: 55%;
    }

}